#container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
#container div {
    width: 200px;
    border: 1px dotted gray;
    margin: 5px;
    padding: 15px;
}
#container div img {
    width: 120px;
}
#container h2 {
    font-size: 1rem;
}

/* https://www.w3schools.com/css/css_navbar_horizontal.asp */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}